# Python virtual environments & variables
.env
.venv/
venv/
__pycache__/
*.pyc

# IDEs
.vscode/

# Frontend dependencies and production builds
node_modules/
dist/

# Databases
*.db
*.sqlite3
backend/db.sqlite3

resume/

# Exercise database raw files
backend/data/exercisedb_full.json
backend/data/exercisedb_v1_sample/

# Testing
.pytest_cache/
.coverage
