# Local Development

Create a `.env` file in this directory with your local backend IP:

```
EXPO_PUBLIC_API_URL=http://<YOUR_LOCAL_IP>:8000
```

Do not use `localhost` if testing on a physical device, as it will point to the device itself.
